@import "tailwindcss";


html {
  scroll-behavior: smooth;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-gradient {
  background: linear-gradient(
    to right,
    #ffffff,
    #a855f7,
    #ffffff,
    #a855f7,
    #ffffff
  );
  background-size: 300% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: gradientMove 15s linear infinite;
}
